# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache

# OS or Editor folders
.DS_Store
Thumbs.db
.cache
.project
.settings
.tmproj
*.esproj
/css
*.sublime-workspace

WP-Boilerplate.sublime-workspace

WP-Boilerplate-Theme.sublime-project

*.sublime-project
